/* Main Page of Recipes */
.header{
    font-size: medium;
    margin: 1%;
    padding: 1%;
    background-color: rgb(191, 191, 191);
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: black;
}

.section{
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    color: aqua;
    align-items: center;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer{
    text-align: left;
    color: black;
    font-size: smaller;
}
